<ng-container *ngIf="categories.length > 0; else emptyList">
  <div class="categories-container">
    <h1 class="title">CATEGORIES</h1>
    <div class="categories-list">




      <mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-between center" *ngFor="let category of categories">
        <img mat-card-image src="{{image}}" alt="{{category.name}}">
        <mat-card-title>{{category.name}}</mat-card-title>
        <mat-card-content>
          <p>{{category.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button routerLink="/{{fullUrl}}/{{category[categoryProperty.id]}}">VIEW MORE </button>
        </mat-card-actions>
      </mat-card>

      </div>
  </div>
</ng-container>






<ng-template #emptyList>
  <div class="category-container">
    <mat-icon fontSet="material-icons-outlined" class="icon-margin">category</mat-icon>
    <span>There are no categories.</span>
  </div>
</ng-template>
