<ng-container *ngIf="categories.length > 0; else emptyList">
  <div class="categories-container">
    <h1 class="title">CATEGORIES</h1>
    <div class="categories-list">
      <app-category-card [title]="category.name" [description]="category.description" *ngFor="let category of categories" ></app-category-card>
      <button mat-button *ngFor="let category of categories" [routerLink]="[route.SEPARATOR, route.TOYS, route.SEPARATOR, route.CATEGORY, route.SEPARATOR, category[categoryProperty.id]]">VIEW ALL</button>
      </div>
  </div>
</ng-container>



<ng-template #emptyList>
  <div class="category-container">
    <mat-icon fontSet="material-icons-outlined" class="icon-margin">category</mat-icon>
    <span>There are no categories.</span>
  </div>
</ng-template>
