<nav class="nav">
  <span class="nav__brand">
    Toy Valley
  </span>

  <div class="{{active}}">
    <div *ngFor="let button of buttons">
      <button
        class="nav__item"
        routerLink="{{button.link}}"
        mat-button
      >{{button.text}}</button>
    </div>
    <div *ngIf="this.authService.getAdmin() == 'true'">
      <button
        class="nav__item"
        routerLink="/dashboard"
        mat-button
      >Dashboard</button>
    </div>
    <div *ngIf="this.authService.getToken() == null">
      <button
        class="nav__item"
        routerLink="/login"
        mat-button
      >Login</button>
    </div>
    <div *ngIf="this.authService.getToken() == null">
      <button
        class="nav__item"
        routerLink="/register"
        mat-button
      >Register</button>
    </div>
    <div *ngIf="this.authService.getToken() != null">
      <button
        class="nav__item"
        routerLink="/users/{{this.authService.getUserId()}}"
        mat-button
      >Profile</button>
    </div>
    <div *ngIf="this.authService.getToken() != null">
      <button
        class="nav__item"
        (click)="this.authService.logout()"
        mat-button
      >Logout</button>
    </div>
  </div>

  <div class="nav__toggler" (click)="navToggle()">
    <mat-icon>{{icon}}</mat-icon>
  </div>
</nav>
