
.container {
  width: 1200px;
  height: 50%;
  margin: 40px auto;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 32px;
  padding: 50px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: inline-block;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-form p {
  margin-top: 25px;
  text-align: left;

}

.example-form button {
  width: 100%;
}

