<div class="page">

</div>


<div class="container">
  <h1>Login</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex. name.surname@gmail.com" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" value="" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary">Primary</button>
    <p>Don't have an account? <a href="google.com">Register here.</a></p>
  </form>
</div>




