
.container {
  width: 1200px;
  height: 50%;
  margin: auto;
  text-align: center;

}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  background-image: url('../../photos/111629.jpg');
  background-repeat: no-repeat;
  opacity: 0.3;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-family: Roboto;
  padding: 50px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: inline-block;
}

.example-full-width {
  width: 100%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-form p {
  margin-top: 25px;
  text-align: left;

}

.example-form button {
  width: 100%;
}
