.toy-image {
  width: 40%;
  border-radius: 10px;
}

.toy-information-container {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toy-details {
  width: 40%;
}

@media screen and (max-width: 950px) {
  .toy-information-container {
    flex-direction: column;
  }
  .toy-image, .toy-details {
    width: 100%;
    object-fit: contain;
  }
}
