.container {
  width: 1200px;
  margin: 40px auto 60px;
  text-align: center;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-family: Roboto;
  padding: 50px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 30px auto 0;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-form button {
  width: 100%;
  padding: 3px;
}

.example-full-width {
  width: 100%;
}

.back-button {
  width: 42%;
  margin: 20px auto;

}

@media(max-width: 700px) {

  .page {
    align-items: center;
  }

  .container {
    width: 100%;
    margin: auto;
    position: relative;
  }

  .example-form {
    width: 70%;
    margin: auto;
  }
}
