<div class="page"></div>
<div class="container">
  <h1>Register</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Emily" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput placeholder="Ex. O'Brien" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Ex. +387123456" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex. name.surname@gmail.com" value="" type="E-mail">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" value="" type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Password" value="" type="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submit()">Register</button>
  </form>
</div>

