
// Colors
$primary: #673ab7;
$light: #e0e0e0;

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  text-align: center;
}

.subtitle {
  font-weight: 400;
  font-size: 40px;
}

.text-light {
  color: $light;
}

@media screen and (max-width: 880px) {
  .title {
    font-size: 40px;
    line-height: 1;
  }
  .subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 20px;
  }
}
