@import "src/styles";

.search-container {
  height: 500px;
}

.example-form-field {
  width: 50%;
}

.search-text {
  padding: 50px 0;
  text-align: center;
}

.example-form-field {
  width: 50%;
}

@media screen and (max-width: 880px) {
  .example-form-field {
    width: 70%;
  }
}
